<p><%= current_year %><br>
Автор: Anton Spiridonov<br>
Проект test-guru по созданию и прохождению тестов на <a href=<%= github('kerni2', 'RoR-base') %> target="_blank">GitHub</a><br>
Учебный проект в онлайн-школе Thinknetica <a href="https://www.thinknetica.com" target="_blank">www.thinknetica.com</a><br></p>


