<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
	<p><%= current_year %><br>
	Автор: Антон Спиридонов<br>
	Проект TestGuru по созданию и прохождению тестов на <%= link_to 'GitHub', github('kerni2', 'RoR-base') %></a><br>
	Учебный проект в онлайн-школе Thinknetica <a href="https://www.thinknetica.com" target="_blank">www.thinknetica.com</a><br></p>
  </span>
</nav>
