<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
	<p><%= current_year %><br>
	Author: Anton Spiridonov<br>
	Project TestGuru on creating and passing tests on <%= link_to 'GitHub', github('kerni2', 'RoR-base') %></a><br>
	Educational project in an online school Thinknetica <a href="https://www.thinknetica.com" target="_blank">www.thinknetica.com</a><br></p>
  </span>
</nav>

